<div class="contacts">
    <img src="/assets/me.jpg" />
    <p>If you want to find out more about my works or would like to receive a CV and discuss a potential job, please don’t hesitate to contact me.
I always look for new opportunities to work with creative people.</p>
    <div class="contactinfo">
        <div class="item">
            <span class="label">Phone:</span>
            <span class="text">+1 (647) 700 58 13</span>
        </div>
        <div class="item">
            <span class="label">Email:</span>
            <span class="text">daria@shepelenko.com</span>
        </div>
        <div class="item">
            <span class="label">Skype:</span>
            <span class="text">DariaKronberg</span>
        </div>
    </div>
</div>