<div class="thumbnails">
			<div class="project">
				<img src="/assets/_MG_0074.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/_MG_0117.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/6b750a13d1d4212daed72e490b5bb616e400a77f_m.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/45330017.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/annual-report-design-anthon-b-nielson-2.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/_5232071.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/annual-report-design-anthon-b-nielson-3.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/annual-report-design-anthon-b-nielson-4.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
			
			<div class="project">
				<img src="/assets/Patrick_Fry_No.3__0005.jpg" />
				<div class="desc">
					<span class="label">Client:</span>
					<span class="text">GeorgeBrownCollege</span>
				</div>
				<div class="desc">
					<span class="label">Project:</span>
					<span class="text">Website Design & Development</span>
				</div>
			</div>
		</div>